body{
	margin:0px;
	font-family:arial;
}
nav{
	margin:0 30px 20px 30px;
	height:50px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.logo img{
	height:50px;
}
.menu{
	display:flex;
	flex-direction:row;
	justify-content:end;
	align-items:center;
	height:50px;
}
.menu li{
	list-style:none;
	margin-right:15px;
}
.menu li a{
	text-decoration:none;
	color:black;
}
.tombol_menu{
	background-color:royalblue;
	color:white;
	border:0;
	border-radius:5px;
	padding:8px;
	margin-top:0;
}

	
		
header{
	margin:50px 30px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:300px;
}
.judul{
	display:flex;
	flex-direction:column;
	align-items:end;
	color:white;
	width:50%;
	padding:10px 35px 0 35px;
	background-color:black;
	text-align:end;
	box-sizing:border-box;
}
.judul h1{
	margin-bottom:0;
}
.tombol_judul1{
	background-color:royalblue;
	color:white;
	border:0;
	padding:7px;
	border-radius:5px;
}
.tombol_judul2{
	background-color:white;
	border:0;
	padding:7px;
	border-radius:5px;
}
.gambar_judul{
	width:50%;
}
.gambar_judul img{
	height:100%;
	width:100%;
}



section{
	margin:70px 30px;
}
.berita{
	text-align:center;
	margin-bottom:50px;
}
.daftar_berita{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:20px;
}
.berita1, .berita2, .berita3{
	width:35%;
	border:1px solid grey;
}
.berita1 img{
	width:100%;
}
.berita2 img{
	width:100%;
}
.berita3 img{
	width:100%;
}
.daftar_berita a{
	text-decoration:none;
}
.artikel{
	margin:20px;
}
.artikel h3{
	margin-top:10px;	
}
.penulis{
	display:flex;
	flex-direction:row;
	justify-content:end;
	align-items:center;
	margin-right:30px;
	gap:20px;
}
.penulis1{
	margin-top:35px;
}
.penulis2, .penulis3{
	margin-top:75px;
}
.penulis img{
	width:45px;
	height:50px;
}
.penulis h4{
	margin-bottom:0px;
}
.penulis p{
	margin-top:10px;
}



.galeri{
	margin:30px;
}
.judul_galeri{
	text-align:center;
	margin-bottom:50px;
}
.galeri_isi{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:10px;
}
.galeri1, .galeri2, .galeri3{
	width:35%;
}
.galeri2, .galeri3{
	display:flex;
	flex-direction:column;
	gap:10px;
}
.galeri1 img{
	width:100%;
	height:600px;
}
.galeri2 img{
	width:100%;
}
#anugrah{
	height:40%;
}
#mc{
	height:60%;
}
.galeri3 img{
	width:100%;
}
#expo{
	height:70%;
}
#kegiatan{
	height:30%;
}



.kontak{
	margin:70px 30px;
}
.kontak_judul{
	text-align:center;
	margin-bottom:50px;
}
.kontak_isi{
	display:flex;
	flex-direction:row;
	justify-content:center;
	gap:40px;
	align-items:center;
}
.icon3{
	display:flex;
	flex-direction:row;
	justify-content:end;
	gap:5px;
	margin-bottom:10px;
}
.isi3{
	display:flex;
	flex-direction:column;
	align-items:end;
}
.isi3 b{
	margin-bottom:0;
}
.isi3 p{
	margin-top:0;
}
.icon3 a{
	color:white;
	background-color:royalblue;
	height:10px;
	padding:8px 7px 20px 7px;
	border-radius:5px;
}
.send{
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:15px;
}
.send input, textarea{
	width:100%;
	padding:7px;
	border:1px solid grey;
	border-radius:5px;
}
.send textarea{
	font-family:arial;
	color:grey;
}
.tombol_kirim{
	width:100%;
	background-color:royalblue;
	color:white;
	border:0;
	padding:7px;
	border-radius:5px;
}



footer{
	color:white;
	background-color:black;
	padding:10px 45px;
}
.info{
	display:flex;
	flex-direction:row;
	align-items:center;
	border-bottom:1px solid grey;
	padding-bottom:45px;
}
#departemen{
	padding-left:0;
	padding-top:5px;
	width:25%;
}
#departemen h4{
	margin-bottom:10px;
}
#departemen li{
	margin-top:3px;
	list-style:none;
}
#departemen li a{
	color:white;
}
.info .gambar_footer{
	width:25%;
}
.info .gambar_footer img{
	width:70px;
	height:70px;
}

.copyright{
	margin-top:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.copyright .sosmed{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	gap:10px;
}